@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'poppins';
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
.center {
  @apply flex w-full justify-center;
}

.pointer {
  @apply hover:cursor-pointer;
}